.my-nav{
    background: #B1AFB0;
    height: auto;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    padding: 10px 10px;
}
.logo{
    height: 50px;
    width: 50px;

}
.first-silde{
    width: 100%;
    height: 400px;
}
.up-img{
height: 250px;
width: 250px;
}
.img-m{
    width: 100%;
    height: 400px;
    position: relative;
}
.img-1{
    position: absolute;
    top: 120px;
    left: 150px;
    z-index: 3;
    width: 70%;
    height: 260px;
}
.img-2{
    position: absolute;
    top: 150px;
    left: -60px;
    z-index: 2;
    width: 70%;
    height:  300PX;
}
.img-3{
    position: absolute;
    top: -90px;
    left: 60px;
    z-index: 1;
    width: 50%;
    height: 250px;
}
.l-main-slide{
    height: 500px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.lower-div{
    height: 300px;
   display: flex;
   flex-direction: column;
   justify-content: space-around;
}
.btn-div{
    /* background-color: black; */
    display: flex;
    justify-content: space-between;
    /* height: 40px; */
    width: 250px; 
}
a{
    color: white !important;
}
.btn-two{
    padding: 5px 15px !important;
    border: 3px solid black !important;
    border-radius: 15px !important;
}
.btnm{
background: #87308F !important;
border-radius: 10px !important;
}
/* //////// */
.breed-crumbs{
/* background-color: black; */
padding: 25px 0px;
margin-bottom: 20px;
}
.third-sec{
margin-top: 100px;
}
.img-set{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 4px;
}
.img-itself-1{
width: 250px;
height: 250px;
}
.img-itself-2{
width: 310px;
height: 229px;
}
.img-itself-3{
width: 220px;
height: 250px;
}
.img-itself-4{
width: 370px;
height: 250px;
}
.img-itself-5{
width: 270px;
height: 250px;
}
.img-itself-6{
width: 280px;
height: 250px;
}
.img-itself-7{
width: 310px;
height: 240px;
}
/* /////// */
.heading{
    display: flex;
    justify-content: center;
    align-items: center;
}
.h-sizing{
    margin-top: 230px;
    height: 100px;
}
.special-h{
    color: #87308F;
}
/* ///// */
.image-container {
    background-color: #e0d4f7;
    border-radius: 20px;
    padding: 20px;
    display: inline-block;
}
.card-img {
    width: 100px;
    height: 100px;
}
.card-title {
    font-weight: bold;
    font-size: 18px;
    margin-top: 20px;
}
.card-description {
    font-size: 14px ;
    color: #333333;
    margin-top: 10px;
    line-height: 1.5;
}
.cardiac{
    margin: 30px;
    font-size: 13px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* /// */
.bread{
height: 50px;
width: 170px;
margin: 40px auto;
}
.fontio{
 font-size: 15px !important;
 font-weight: 600;   
}
/* /// */