@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&family=K2D:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&family=K2D:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Purple+Purse&display=swap');
body{
    font-family: Arial, sans-serif;
}
.my-nav{
    background: #B1AFB0;
    height: auto;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    padding: 10px 10px;
}
.logo{
    height: 50px;
    width: 50px;

}
.purple-pursing{
    font-family: Purple-Purse;
font-size: 46px;
/* font-weight: 400; */
}
.first-silde{
    width: 100%;
    height: 400px;
    margin-top: 100px !important;
}
.up-img{
height: 260px;
width: 260px;
}
.img-m{
    width: 100%;
    height: 400px;
    position: relative;
}
.img-1{
    position: absolute;
    top: 120px;
    left: 150px;
    z-index: 3;
    width: 70%;
    height: 260px;
}
.img-2{
    position: absolute;
    top: 150px;
    left: -60px;
    z-index: 2;
    width: 70%;
    height:  300PX;
}
.img-3{
    position: absolute;
    top: -90px;
    left: 60px;
    z-index: 1;
    width: 50%;
    height: 250px;
}
.l-main-slide{
    height: 500px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.lower-div{
    height: 300px;
   display: flex;
   flex-direction: column;
   justify-content: space-around;
}
.btn-div{
    /* background-color: black; */
    display: flex;
    justify-content: space-between;
    /* height: 40px; */
    width: 250px; 
}
a{
    color: white !important;
}
.btn-two{
    padding: 5px 15px !important;
    border: 3px solid black !important;
    border-radius: 15px !important;
}
.btnm{
background: #87308F !important;
border-radius: 10px !important;
}
.shifting-color:hover{
    background: #87308F !important;
    color: white !important;
    border: none !important;
}
.niche{
    /* background-color: red; */
    margin-top: 40px;
}
/* //////// */
.breed-crumbs{
/* background-color: black; */
padding: 25px 0px;
margin-bottom: 20px;
}
.third-sec{
margin-top: 100px;
}
.img-set{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 4px;
}
.img-itself-1{
width: 250px;
height: 250px;
}
.img-itself-2{
width: 310px;
height: 229px;
}
.img-itself-3{
width: 220px;
height: 250px;
}
.img-itself-4{
width: 370px;
height: 250px;
}
.img-itself-5{
width: 270px;
height: 250px;
}
.img-itself-6{
width: 280px;
height: 250px;
}
.img-itself-7{
width: 310px;
height: 240px;
}
/* /////// */
.heading{
    display: flex;
    justify-content: center;
    align-items: center;
}
.h-sizing{
    margin-top: 260px;
    height: 100px;
}
.special-h{
    color: #87308F;
}
/* ///// */
.image-container {
    background-color: #e0d4f7;
    border-radius: 20px;
    padding: 20px;
    display: inline-block;
}
.card-img {
    width: 100px;
    height: 100px;
}
.card-title {
    font-weight: bold;
    font-size: 18px;
    /* margin-top: 10px; */
}
.card-description {
    font-size: 14px;
    color: #333333;
     /* margin-top: 10px;  */
     line-height: 1.5; 
}
.descripsion{
    font-family: 'ABeeZee';
    font-size: 14px;
    font-weight: 400;
    line-height: 18.91px;
    text-align: left;
    color: #00000073;
    margin-top: 15px;
}
.cardiac{
    /* background-color: antiquewhite; */
    width: 285px !important;
    height: 285px !important;
    margin: 30px;
    font-size: 13px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
/* /// */
.bread{
height: 50px;
width: 170px;
margin: 50px auto;
margin-bottom: 10px;
}
.fontio{
 /* font-size: 15px !important;
 font-weight: 600;
 */
 margin-top: 24px;   
 font-family: ABeeZee;
 font-size: 15px;
 font-weight: 500;
 line-height: 23.64px;
 text-align: left;
 
}
.muscle{
/* background-color: red; */
margin-top: 50px !important;
margin: 100px auto;
}
.tustle{
/* background-color: blue; */
width: 100%;
}
.rustle{
/* background-color:brown; */
width: 100%;
}
.musk{
    /* background-color: #87308F; */
    margin-top: 50px;
}
/* .rusk{
    margin-bottom: 50px; 
     background-color:aqua;
} */
/* /// */
.pinkle{
    background: linear-gradient(174.72deg, rgba(211, 128, 218, 0.21) -35.16%, rgba(241, 193, 245, 0.21) -35.16%);
background-blend-mode: darken;
height: 305px;
padding: 50px;

}
/* .pink-material{
    background-color: #87308F;
} */
.pink{
    /* background-color: #87308F; */
    /* height: 100px; */
    /* width: 100px; */
    /* border-radius: 50%; */
    display: flex;
    justify-content: end;
    align-items: center;
}
.rink{
    /* background-color: #87308F; */
    /* height: 100px; */
    /* width: 100px; */
    /* border-radius: 50%; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}
.tink{
    /* background-color: #87308F; */
    /* height: 100px; */
    /* width: 100px; */
    /* border-radius: 50%; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.pink-heading{
    /* font-size: 4px !important; */
    text-align: center;
    /* background-color: blue; */
    /* height: 100px; */
    /* width: 200px; */
    /* border-radius: 50%; */
     
}
.contact {
    text-align: center;
    color: #4b3b47;
}
.iconto{
    font-size: 24px;
    /* margin-bottom: 10px; */
}
.call-text {
    font-size: 14px;
    margin-bottom: 5px;
}
.phone-number {
    font-family: K2D;
    font-size: 16px;
    font-weight: 400;
    line-height: 20.8px;
    text-align: left;

}
.burger{
    margin-left: 30px;
    width: 139px;
    height: 44px;
}
.man{
    position: relative;
}
.man-img-itself{
    /* background-color: #87308F; */
    position: absolute;
    height: 483px;
    width: 474px;
    /* object-fit: cover; */
    right: 20px;
    bottom: -50px; 
}   
/* /// */
.project-heading{  
    font-family: K2D;
    margin: 40px;
    margin-left: 100px;
   height: 40px;
   font-size: 37px; 
}
.project-img-1{
width: 498px;
height: 278px;
position: relative;
top: 8px;
right: 48px;
border-radius: 41px 0px 0px 0px;
opacity: 0px;
}
.project-img-2{
    width: 512px;
    height: 412px;
    opacity: 0px;
    position: relative;
    top: 30px;
    right: 80px;
}
.project-img-3{
    width: 473px;
    height: 433px;
    position: relative;
    bottom: 25px;
    left: 30px;
    border-radius: 56px 0px 0px 0px;
    opacity: 0px;
}
.project-img-4{
    width: 425px;
    height: 268px;
    border-radius: 23px 0px 0px 0px;
    opacity: 0px;
    position: relative;
    bottom: 20px;
    left: 30px;
    
}
.project-gallery{
margin-bottom: 90px;
}
/* /// */
.pinkle-plus{
    background: linear-gradient(174.72deg, rgba(211, 128, 218, 0.21) -35.16%, rgba(241, 193, 245, 0.21) -35.16%);
background-blend-mode: darken;
width: 100%;    
height: 343px;
opacity: 0px;
}
.plus-container {
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: aqua; */
    /* height: 100vh; */
}
.plus-conent{
    /* background-color: tomato; */
    height: 140px;
    margin-top: 50px;
}
.plus-text {
    display: flex;
    align-items: center;
    /* background-color: #333333; */
    /* width: 250px; */
    margin: 0px 10px;
}
.plus-number {
    font-size: 48px;
    font-weight: 600;
    color: #6a1b9a;
    /* margin-right: 10px; */
}
.plus-description {
    font-size: 17px;
    color: #7d7d7d;
}
.plus-heading{
    font-family: K2D;
   font-size: 39px;
   font-weight: 600;
   margin-right: 50px; 
}
.plus-paragraph{
    font-family: K2D;
font-size:  19px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0.05em;
text-align: left;
color: #7d7d7d;
}
/* /// */